<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Document</title>
</head>

<body class="d-flex align-items-center justify-content-center vh-100 bg-secondary">

    <div class="bg-light p-5 rounded shadow col-5">


        <form class="row g-3" method="post" onsubmit="return validateForm()">
            {% csrf_token %}
            <h2>Registro</h2>
            <div class="col-12">
                <label class="form-label">Nombre</label>
                {{form.name}}
            </div>
            <div class="col-12">
                <label class="form-label">Surname</label>
                {{form.surname}}
            </div>

            <div class="col-md-12">
                <label class="form-label">Email</label>
                {{form.email}}
            </div>
            <div class="col-md-6">
                <label class="form-label">Contraseña</label>
                {{form.password1}}
            </div>

            <div class="col-md-6">
                <label class="form-label">Confirmar contraseña</label>
                {{form.password2}}
            </div>

            <div class="col-md-6">
                <label class="form-label">Control Number</label>
                {{form.control_number}}
            </div>
            <div class="col-md-3">
                <label class="form-label">Age</label>
                {{form.age}}

            </div>
            <div class="col-md-3">
                <label class="form-label">Telefono</label>
                {{form.tel}}

            </div>
            {% include 'mensaje.html' %}

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>

            
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% include 'mensaje.html' %}
        </form>

    </div>

    <script>

function validateForm() {
    let email = document.getElementById("id_email").value;
    let name = document.getElementById("id_name").value;
    let surname = document.getElementById("id_surname").value;
    let controlNumber = document.getElementById("id_control_number").value;
    let age = document.getElementById("id_age").value;
    let tel = document.getElementById("id_tel").value;
    let password1 = document.getElementById("id_password1").value;
    let password2 = document.getElementById("id_password2").value;

    const emailRegex = /^[a-zA-Z0-9]+@utez\.edu\.mx$/;
    if (!emailRegex.test(email)) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "Ingresa un correo del dominio de la UTZEM.",
        });
        return false;
    }

    const nameRegex = /^[a-zA-Z]+$/;
    if (!nameRegex.test(name)) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "Formato inválido, ingresa solo letras en el nombre.",
        });
        return false;
    }
    if (name.length < 3 || name.length > 50) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "El nombre debe tener entre 3 y 50 caracteres.",
        });
        return false;
    }

    const surnameRegex = /^[a-zA-Z]+$/;
    if (!surnameRegex.test(surname)) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "Formato inválido, ingresa solo letras en el apellido.",
        });
        return false;
    }
    if (surname.length < 3 || surname.length > 100) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "El apellido debe tener entre 3 y 100 caracteres.",
        });
        return false;
    }

    const controlNumberRegex = /^\d{5}[a-zA-Z]{2}\d{3}$/;
    if (!controlNumberRegex.test(controlNumber)) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "Formato inválido del número de control.",
        });
        return false;
    }

    const ageRegex = /^\d{2}$/;
    if (!ageRegex.test(age)) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "Edad inválida.",
        });
        return false;
    }

    const telRegex = /^\d{10}$/;
    if (!telRegex.test(tel)) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "El teléfono debe tener 10 dígitos.",
        });
        return false;
    }

    const passwordRegex = /^(?=.*\d)(?=.*[A-Z])(?=.*[!#$%&?]).{8,}$/;
    if (!passwordRegex.test(password1)) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "La contraseña debe tener al menos una letra mayúscula, un número y un carácter especial, y al menos 8 dígitos.",
        });
        return false;
    }

    if (password1 !== password2) {
        Swal.fire({
            title: "Error",
            icon: "error",
            text: "Las contraseñas no coinciden.",
            draggable: true,
        });
        return false;
    }

        Swal.fire({
        title: "Realizado",
        text: "Acción realizada con éxito.",
        icon: "success",
    });

    return true;
}
    </script>
</body>

</html>
